*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* height: 60px; */
    background-color: rgb(174, 192, 186);
    /* margin: 100px auto; */
}
h1{
  font-size: 40px;
  width: 400px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  align-items: center;
  border: black 2px solid;
  background-color: #d9e5f3;
  border-radius: 15px;
  padding: 10px;
}

.haut1{
    width: 530px;
    max-width: 100%;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 25px;
}

.haut1 img{
    /* 100% de main-swiper */
    /* max-width: 600px;   */
    width: 530px;
    height: 300px; 
}

.bas1{
    width: 530px;
    max-width: 100%;
    cursor: pointer;
    margin: 0 auto;
}
.bas1 img{
    width: 230px;
    height: 150px; 
}
.haut2{
  width: 530px;
  max-width: 100%;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 25px;
}
.haut2 img{
  /* 100% de main-swiper */
  /* max-width: 600px;   */
  width: 530px;
  height: 300px; 
}
.bas2{
  width: 530px;
  max-width: 100%;
  cursor: pointer;
  margin: 0 auto;
}
.bas2 img{
  width: 230px;
  height: 150px; 
}
.swiper-button-prev,.swiper-button-next{
  background-color:black;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 30px;
}
.swiper-button-next:after,.swiper-button-prev:after {
  font-family: swiper-icons;
  background-color: black;
  font-size: 25px;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1; 
  border-radius: 50%;
}

.swiper-slide figure {
    margin: 0;
    position: relative;
    overflow: hidden;
  }
  .swiper-slide figcaption {
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 17px;
    line-height: 19px;
    background-color:black;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    border-radius:10px 10px 0 0;
    padding: 10px ; 
    left: 50%;
    transform: translate3d(-50%, 100%, 0);
    opacity: 0;
    transition: all 0.6s ease-in-out;
  }
  
  .swiper-slide figcaption img {
    width: auto;
    height: auto;
    object-fit: contain;
  }
  .swiper-slide-active figcaption {
    transform: translate(-50%, -4px);
    opacity: 1;
  }